body{
    padding: 0;
    margin: 0;
    max-width: 100vw;
}
.logo,.contacts{
    display: flex;
    flex-direction: column;
}
header{
    display: inline-flex;
    height: 150px;
    width:650px;
    background-color: orange;
    border-radius: 5px;
    gap:20px;
    box-shadow: 10px 5px 5px red;
}
.logo{
    align-items: center;
    justify-content: center;
}
.name{
    width:200px;
}
.job{
    width:150px;
}

.contacts{
    gap:20px;   
    justify-content: center;
 
}
.contact{
    font-size: 20px;
    width:250px;
    text-align: center;
    height: 28px;
    font-weight: bolder;
    background-color: blue;
    border: 2px solid white;
    border-radius: 50px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.catgif{
    border-radius: 50%;
    align-items: center;
    width: 150px;
    height: 150px;
}
.fixedAd{
    background-attachment: scroll;
    background-position: -100px -50px;
    background-repeat: no-repeat;
    cursor: pointer;
    direction: ltr;
    overflow: hidden;
    position: fixed;
    right: -15px;
    top: 5%;
    z-index: 1000;
}
.portfolio{
    width: 700px;
    background-color: yellow;
    height: 400px;
    margin-top: 40px;
}
.portfolioHeader{
    width:100%;
    background-color: brown;
    font-size: 35px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.skills{
    background-color: white;
    
    color: blue;
    width:100%;
    height:29%;
  column-count: 3;
    font-size: 40px;
    column-gap: 0px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.skills > ul>li::marker{
    content: '► ';
    font-size: 0.7em;
    color:red;
}
.skills>ul{
    margin: 0;
    width:150px;
}
.portfolioimg{
    width:160px;
    height: 160px;
    border-radius: 50%;
}
.pics{
    display: inline-flex;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.column{
    width:350px;
    height:100vh;
    background: linear-gradient(blue,pink);
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    left:0;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.add{
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 0 rgb(18, 196, 169), -2px 0 rgb(18, 196, 169), 0 2px rgb(18, 196, 169), 0 -2px rgb(18, 196, 169),
    1px 1px rgb(18, 196, 169), -1px -1px rgb(18, 196, 169), 1px -1px rgb(18, 196, 169), -1px 1px rgb(18, 196, 169);
}
.footer{
    height:20vh;
    width: 700px;
    background: orange;
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:30px;
    font-size: 40px;
    color:midnightblue;
    font-weight: bolder;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid chartreuse;

}
.words{
    text-align: center;
}
.columnLeft{
    width:350px;
    height:100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    right:0;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.add1{
    font-size: 23px;
    color:midnightblue;
        font-family:'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}
.frame{
    position: absolute;
    top:200px
}